@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
a{
  text-decoration: none;
  color: #3c8ae1;
}
div{
  letter-spacing: .01rem;
}
.div-principal{
  background: #6D7E86;
  padding-top: 3rem;
  min-width: 78rem;
  min-height: auto;
  border: solis 1px tomato;
}